In [1]:
# and, not, or operators

This is an example cell for text

<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

In [2]:
if 2<5:
  print("this statement is true")

this statement is true

In [3]:
x = 250
if x < 100:
  print("number is less than 100")
elif x > 100 and x < 150:
  print("number is between 100 and 150")
elif x > 150 and x < 200:
  print("number is between 150 and 200")
elif x == 100:
  print("number is 100")
else:
  print("number is greater than 200")

number is greater than 200

In [ ]:
# lists are the simplest data structure
my_no_list = [1, 2, 3, 4, 5]

my_string_list = ["olivia", "cindy", "tom", "john", "frances"]

mixed_list = [2, 3, "charles", "lily", 4.5, 100.234]

In [ ]:
print(my_no_list)

[1, 2, 3, 4, 5]

In [ ]:
len(my_no_list) # length of the list

5

In [ ]:
# for loops

number_multiple_list = []
for i in my_no_list:
  #print(i * 2)
  number_multiple_list.append(i * 2)

print(number_multiple_list)

[2, 4, 6, 8, 10]

In [ ]:
mixed_list[0]

2

['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']

In [ ]:
for i in range(len(mixed_list)):
  print(mixed_list[i])

2
3
charles
lily
4.5
100.234

In [ ]:
# tuple ()
# like a list but can't change elements once they are defined
numbered_tuple = (2, 1, 3, 4)

In [ ]:
# sets = unique elements only
# handy tool if have list with multiples of same element and want to find number of unqiue elements
number_set = {1, 2, 3, 4, 5, 5, 6, 6}
print(number_set)

len(number_set ) # number of unique elements

{1, 2, 3, 4, 5, 6}

6

Index 1 alice
Index 2 ben
Index 3 cathy
Index 4 dawn
Index 5 emily
Index 6 fern
Index 7 emma
Index 8 sean
Index 9 felix
Index 10 hugh

In [ ]:
# dictionaries - key:value pairs - use the key to access the values
# dictionaries are unordered
pop_nz_cities = {}
pop_nz_cities['Auckland'] = 1500000
pop_nz_cities['Christchurch'] = 400000
pop_nz_cities['Wellington'] = 410000

In [ ]:
# access the dictionary
pop_nz_cities['Auckland']

1500000

In [ ]:
# while loop - 2 different ways to break out of it and avoid infinite loops

x = 0
while x < 20:
  print(x)
  x = x + 1 # x += 1

x = 0
while x < 20:
  print(x)
  x += 1
  if x == 10:
       break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
5
6
7
8
9

In [39]:
# functions

def squared_sum(a, b):
  val = a*a  + b*b
  return val

In [40]:
squared_sum(2,3)

13

In [44]:
def squared_sum_list(my_no_list):
  total_sum = 0
  for elt in my_no_list:
    total_sum += elt * elt

  return total_sum

In [46]:
squared_sum_list([2,5,6,8,1,0,2])

134

In [1]:
# create a list of 10 students (use just first name)
students = ['alice','ben','cathy','dawn','emily','fern','emma','sean','felix','hugh']

In [4]:
# Print the list
# lists are very flexible and can be changed
# can contain multiple types (but not a great thing to do)
print(students)

['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']

In [10]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep


for count, student in enumerate(students):
    students_caps = student.capitalize()
    print(f'Index {count+1:02d} {students_caps}')

Index 01 Hugh
Index 02 Felix
Index 03 Sean
Index 04 Emma
Index 05 Fern
Index 06 Emily
Index 07 Dawn
Index 08 Cathy
Index 09 Ben
Index 10 Alice

In [11]:
# print the list of students in reverse order one student in a line with its index
# google search how to print list in reverse order
student_reverse = students

student_reverse.reverse()

# make your strings into caps - to fix capitalisation 

for count, student in enumerate(student_reverse):
    students_caps = student.capitalize()
    print(f'Index {count+1:02d} {students_caps}')

Index 01 Alice
Index 02 Ben
Index 03 Cathy
Index 04 Dawn
Index 05 Emily
Index 06 Fern
Index 07 Emma
Index 08 Sean
Index 09 Felix
Index 10 Hugh

In [12]:
# print the student list in random order
# hint look up the function random.sample
import random
random_sample = random.sample(students, 10)
print(random_sample)

for count, student in enumerate(random_sample):
    students_caps = student.capitalize()
    print(f'Index {count+1:02d} {students_caps}')

['fern', 'hugh', 'felix', 'alice', 'emily', 'ben', 'cathy', 'sean', 'emma', 'dawn']
Index 01 Fern
Index 02 Hugh
Index 03 Felix
Index 04 Alice
Index 05 Emily
Index 06 Ben
Index 07 Cathy
Index 08 Sean
Index 09 Emma
Index 10 Dawn

In [18]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students,marks))
print(f"Students and their marks: \n {studentsAndMarks}")

Students and their marks:
 {'alice': 87, 'ben': 45, 'cathy': 76, 'dawn': 64, 'emily': 66, 'fern': 90, 'emma': 55, 'sean': 73, 'felix': 69, 'hugh': 75}

In [19]:
students

['alice',
 'ben',
 'cathy',
 'dawn',
 'emily',
 'fern',
 'emma',
 'sean',
 'felix',
 'hugh']

In [20]:
studentsAndMarks

{'alice': 87,
 'ben': 45,
 'cathy': 76,
 'dawn': 64,
 'emily': 66,
 'fern': 90,
 'emma': 55,
 'sean': 73,
 'felix': 69,
 'hugh': 75}

In [21]:
sorted(studentsAndMarks, key=studentsAndMarks.get,reverse=True)

['fern',
 'alice',
 'cathy',
 'hugh',
 'sean',
 'felix',
 'emily',
 'dawn',
 'emma',
 'ben']



---



---



> > > > > > > > > © 2022 Institute of Data


---



---